/* .cards {
}

.stake-card {
	height: 5cm;
	width: 10cm;
}
.SOCIETY-COIN {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.SOCIETY-COIN-img {
}
.SOCIETY-COIN-img img {
	height: 120px;
	width: 120px;
}
.SOCIETY-COIN-CONTENT {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (min-width: 250px) and (max-width: 535px) {
	.stake-card {
		height: 4cm;
		width: 9cm;
	}
	.SOCIETY-COIN-img {
		position: absolute;
		top: 20%;
	}
} */
