.SOCIETY-CONTENT {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}
.unstake-modal {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.COINHEADER {
	margin-left: -15px;
	display: flex;
	flex-direction: row;
	gap: 80px;
}
.STAK-CONTENT {
	margin-left: -35px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.STAKEBALANCE {
	margin-left: -15px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.SCOIETY-ICON > .nav-logo {
}
.SCOIETY-ICON .logo-img {
	width: 80%;
	height: 80%;
}
.modalbutton button {
	color: var(--accent-color1);
	background-color: #4a4a4a;

	padding: 0.1rem 1.1rem !important;
	border-radius: 2rem;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(101deg, var(--goldenyellow), var(--yellow));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #4a4a4a inset;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
.signup {
	border-bottom: 0.1rem solid white;
	padding-top: 4rem;
	overflow-y: hidden;
	margin-top: 0.5rem;
}
.am {
	font-size: 18px;
	font-family: 'Courier New', Courier, monospace;
	color: #fff;
	margin-top: 10px;
	font-weight: bold;
}
.stake-fun {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
}

.inp {
	padding: 5px 2px;
	background-color: #4a4a4a !important;
	color: white !important;
	border-radius: 1rem;
}

.signup .container {
	padding: 1rem 1rem !important;
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 18px;
}
.rewards {
	margin-left: 44px !important;
}
.claim-btn {
	margin-right: 75px !important;
}
.signup .container .content {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: flex-start;
}
.signup .container .content .sub-title {
	color: var(--goldenyellow);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}
.signup .container .content .title {
	color: var(--accent-color1);
}
.signup .container .content .description {
	color: var(--accent-color3);
}
.signup .container .content button {
	color: var(--accent-color1);
	background-color: #4a4a4a;
	padding: 1rem 3rem;
	border-radius: 2rem;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(101deg, var(--goldenyellow), var(--yellow));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #4a4a4a inset;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
.signup .container .content button :hover {
	box-shadow: none;
}

.signup .container .image-container {
	text-align: center;
	position: relative;
	z-index: 10;
}
.stake-card {
	height: 6cm;
	width: 15cm;
	font-size: 18px;
	/* background-color: rgb(113, 113, 113) !important; */
	border-radius: 15px !important;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;

	background: linear-gradient(
		101deg,
		rgba(103, 101, 101, 0.1),
		rgba(245, 240, 240, 0.1)
	) !important;
	color: #fff !important;
	overflow: hidden;
}
.Stake {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}

.stake-card button:hover {
	box-shadow: none;
}

.stake-card button {
	color: var(--accent-color1);
	background-color: #4a4a4a;

	padding: 0.5rem 0.5rem;
	border-radius: 2rem;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(101deg, var(--goldenyellow), var(--yellow));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #4a4a4a inset;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.modal-content {
	background-color: var(--background) !important;
	color: #fff;
}
.modal-body {
	justify-content: space-evenly;
}

@media screen and (min-width: 780px) and (max-width: 1080px) {
	.signup {
		position: relative;
		overflow-x: hidden;
		margin-top: 1rem;
	}
	.stake-fun {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.Stake {
		padding-right: 0rem !important;
		padding-left: 0rem !important;
	}
	.stake-card {
		font-size: 16px;
		width: 500px;
		height: 6cm;
	}
	.stake2 {
		margin-top: 8px;
	}
	.signup .container {
		font-size: 16px;
		grid-template-columns: 0.7fr;
		padding: 1rem 1rem !important;
	}
	.signup .image-container {
		position: absolute;
		right: -5%;
		top: 30%;
	}
	.signup .image-container .image img {
		height: 10rem;
	}
	.signup .container .content .sub-title {
		font-size: 25px;
	}
}
@media screen and (min-width: 535px) and (max-width: 780px) {
	.signup {
		position: relative;
		overflow-x: hidden;
		margin-top: 1rem;
	}
	.stake-fun {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.Stake {
		padding-right: 0rem !important;
		padding-left: 0rem !important;
	}
	.stake-card {
		font-size: 16px;
		width: 500px;
		height: 6cm;
	}
	.stake2 {
		margin-top: 8px;
	}
	.signup .container {
		font-size: 16px;
		grid-template-columns: 0.7fr;
		padding: 1rem 1rem !important;
	}
	.signup .image-container {
		position: absolute;
		right: -5%;
		top: 30%;
	}
	.signup .image-container .image img {
		height: 10rem;
	}
	.signup .container .content .sub-title {
		font-size: 25px;
	}
	.stake-card button {
		color: var(--accent-color1);
		background-color: #4a4a4a;

		padding: 0.1rem 1.1rem !important;
		border-radius: 2rem;
		box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
		border: solid 3px transparent;
		background-image: linear-gradient(
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0)
			),
			linear-gradient(101deg, var(--goldenyellow), var(--yellow));
		background-origin: border-box;
		background-clip: content-box, border-box;
		box-shadow: 2px 1000px 1px #4a4a4a inset;
		transition: 0.5s ease-in-out;
		cursor: pointer;
	}
}
@media screen and (min-width: 250px) and (max-width: 535px) {
	.stake-card button {
		color: var(--accent-color1);
		background-color: #4a4a4a;

		padding: 0.1rem 1.1rem !important;
		border-radius: 2rem;
		box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
		border: solid 3px transparent;
		background-image: linear-gradient(
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 0)
			),
			linear-gradient(101deg, var(--goldenyellow), var(--yellow));
		background-origin: border-box;
		background-clip: content-box, border-box;
		box-shadow: 2px 1000px 1px #4a4a4a inset;
		transition: 0.5s ease-in-out;
		cursor: pointer;
	}
	.signup {
		position: relative;
		overflow-x: hidden;
		margin-top: 1rem;
	}
	.Stake {
		padding-right: 0rem !important;
		padding-left: 0rem !important;
	}
	.stake-fun {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.stake-card {
		font-size: 18px;
		width: 9cm;
		height: 6cm;
	}
	.stake2 {
		margin-top: 8px;
	}
	.inp {
		width: 100%;
	}
	.signup .container {
		font-size: 16px;
		grid-template-columns: 0.7fr;
		padding: 1rem 0.5rem !important;
	}
	.signup .image-container {
		position: absolute;
		right: -5%;
		top: 30%;
	}
	.signup .image-container .image img {
		height: 10rem;
	}
	.signup .container .content .sub-title {
		font-size: 25px;
	}
	.SCOIETY-ICON .logo-img {
		width: 100%;
		height: 100%;
	}
	.STAK-CONTENT {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
	.SCOIETY-ICON .logo-img {
		display: none;
	}
}
